/* BODY */

@font-face {
    font-family: "Neue Haas Grotesk Text Bd";
    font-weight: 700;
    /* bold, original 75 */
    src: url("../font/NeueHaasGroteskText75Bold.eot?#iefix");
    src: url("../font/NeueHaasGroteskText75Bold.eot?#iefix") format("eot"), url("../font/NeueHaasGroteskText75Bold.woff") format("woff"), url("../font/NeueHaasGroteskText75Bold.ttf") format("truetype"), url("../font/NeueHaasGroteskText75Bold.svg#NeueHaasGroteskText75Bold") format("svg");
  }
  
  body {
    background-color: #0a0a0a;
    color: #EEE3C1;
    font-family: "Neue Haas Grotesk Text Bd", Helvetica, "Helvetica Neue", Arial, sans-serif;
    line-height: 1;
    font-weight: bold;
    transition: .2s;
    -webkit-font-smoothing: antialiased;
  }
  
  p {
    z-index: 1;
    position: relative;
  }
  
  p::selection,
  dt::selection,
  dd::selection,
  h1::selection,
  h2::selection,
  h3::selection,
  a::selection {
    background: #d0021b;
    color: #EEE3C1;
  }
  
  @media screen and (max-width: 575px) {
    p {
      margin: 0;
      padding: 0;
      font-size: 27px;
      letter-spacing: -1px;
    }
    p:not(:last-child) {
      margin-bottom: 27px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    p {
      margin: 0;
      padding: 0;
      font-size: 22px;
      letter-spacing: -1px;
    }
    p:not(:last-child) {
      margin-bottom: 22px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    p {
      margin: 0;
      padding: 0;
      font-size: 27px;
      letter-spacing: -1px;
    }
    p:not(:last-child) {
      margin-bottom: 27px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    p {
      margin: 0;
      padding: 0;
      font-size: 37px;
      letter-spacing: -2px;
    }
    p:not(:last-child) {
      margin-bottom: 37px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    p {
      margin: 0;
      padding: 0;
      font-size: 44px;
      letter-spacing: -2px;
    }
    p:not(:last-child) {
      margin-bottom: 44px;
    }
  }
  
  img {
    width: 100%;
  }
  
  
  /* STAY HOME */
  @media screen and (max-width: 575px) {
    .how {
      background-color: #D0021B;
      border-radius: 50%;
      width: 15vw;
      height: 15vw;
      position: absolute;
      top: 45vw;
      margin-left: -41.7vw;
      transition: .25s;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .how {
      background-color: #D0021B;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      position: absolute;
      top: 253px;
      margin-left: -237px;
      transition: .25s;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .how {
      background-color: #D0021B;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      position: absolute;
      top: 338px;
      margin-left: -327px;
      transition: .25s;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .how {
      background-color: #D0021B;
      border-radius: 50%;
      width: 160px;
      height: 160px;
      position: absolute;
      top: 446px;
      margin-left: -421px;
      transition: .25s;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .how {
      background-color: #D0021B;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: absolute;
      top: 539px;
      margin-left: -517px;
      transition: .25s;
    }
  }
  
  .how:hover {
    transform: scale(1.1);
  }
  
  .how:active {
    transform: scale(10);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* HEADER */
  
  header {
    border-bottom: 4px solid #EEE3C1;
    padding-bottom: 10px;
  }
  
  @media screen and (max-width: 991px) {
    header {
      padding-top: 10px;
    }
  }
  
  @media screen and (min-width: 992px) {
    header {
      padding-top: 20px;
    }
  }
  
  a.header-link {
    display: block;
    color: #D0021B;
    letter-spacing: -1px;
    text-decoration: none;
    padding: 10px 0;
    margin: -10px 0;
  }
  
  @media screen and (max-width: 575px) {
    a.header-link {
      font-size: 27px;
    }
  }
  
  @media screen and (min-width: 576px) {
    a.header-link {
      font-size: 22px;
    }
  }
  
  a.header-link:hover {
    color: #ff0000;
  }
  
  
  /* TITLE */
  
  section.title {
    border-bottom: 4px solid #EEE3C1;
  }
  
  svg.title {
    fill: #D0021B;
  }
  
  svg.title:hover {
    animation: blink-fill 1s;
  }
  
  @keyframes blink-fill {
    from   {fill: #EEE3C1;}
    to  {fill: #D0021B;}
  }
  
  @media screen and (max-width: 575px) {
    section.title {
      padding-top: 10px;
      padding-bottom: 8px;
    }
    svg.title {
      fill: #EEE3C1;
    }
  }
  
  @media screen and (min-width: 576px) {
    section.title {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  
  h1 {
    display: none;
  }
  
  h2.title {
    position: absolute;
    font-weight: bold;
  }
  
  @media screen and (max-width: 575px) {
    h2.title {
      display: none;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    h2.title {
      margin-left: 38px;
      /* top: 45px; */
      top: 550px;
      font-size: 22px;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    h2.title {
      margin-left: 51px;
      /* top: 41px; */
      top: 724px;
      font-size: 27px;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    h2.title {
      margin-left: 64px;
      /* top: 41px; */
      top: 929px;
      font-size: 37px;
      letter-spacing: -2px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    h2.title {
      margin-left: 77px;
      /* top: 34px; */
      top: 1114px;
      font-size: 44px;
      letter-spacing: -2px;
    }
  }
  
  
  /* PURPOSE */
  
  @media screen and (max-width: 575px) {
    div.purpose {
      display: none;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    div.purpose {
      display: flex;
      margin-top: -31px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    div.purpose {
      display: flex;
      margin-top: -40px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    div.purpose {
      display: flex;
      margin-top: -53px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    div.purpose {
      display: flex;
      margin-top: -63px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    p.purpose-item {
      padding-right: 10px;
      margin: 0;
    }
  }
  
  @media screen and (min-width: 768px) {
    p.purpose-item {
      padding-right: 5px;
      margin: 0;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 991px) {
    p.purpose-item {
      font-size: 13px;
      letter-spacing: -0.5px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    p.purpose-item {
      font-size: 19px;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    p.purpose-item {
      font-size: 22px;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .one {
      width: 98px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .one {
      width: 140px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .one {
      width: 180px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .one {
      width: 222px;
    }
  }
  
  
  /* two */
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .two {
      width: 105px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .two {
      width: 151px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .two {
      width: 204px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .two {
      width: 246px;
    }
  }
  
  
  /* three */
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .three {
      width: 95px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .three {
      width: 136px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .three {
      width: 178px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .three {
      width: 220px;
    }
  }
  
  
  /* four */
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .four {
      width: 100px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .four {
      width: 150px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .four {
      width: 200px;
    }
  }
  
  
  /* SCREENSHOTS */
  
  @media screen and (max-width: 575px) {
    div.wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      word-wrap: normal;
      margin-left: -8px;
      margin-right: -8px;
    }
    section.screenshots {
      width: 250vw;
      padding-left: 8px;
    }
  }
  
  section.screenshots {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
  /* DESCRIPTION */
  
  section.description {
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 4px solid #EEE3C1;
    border-bottom: 4px solid #EEE3C1;
  }
  
  @media screen and (max-width: 575px) {
    a.description-download {
      margin-top: 27px;
      color: #D0021B;
      font-size: 40px;
      letter-spacing: -1px;
      text-decoration: none;
      display: block;
    }
    a.description-download:hover {
      color: #ff0000;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    a.description-download {
      display: block;
      font-size: 22px;
      color: #D0021B;
      text-decoration: none;
      width: 150px;
    }
    a.description-download:hover {
      display: block;
      font-size: 36px;
      line-height: 0.93;
      transition: .2s;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    a.description-download {
      color: #D0021B;
      font-size: 27px;
      letter-spacing: -1px;
      text-decoration: none;
      display: block;
      width: 150px;
    }
    a.description-download:hover {
      position: relative;
      display: block;
      bottom: -3px;
      margin-left: -3px;
      font-size: 56px;
      transition: .2s;
      letter-spacing: -3px;
      line-height: 0.97;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    a.description-download {
      color: #D0021B;
      font-size: 37px;
      letter-spacing: -2px;
      text-decoration: none;
      display: block;
      width: 250px;
    }
    a.description-download:hover {
      position: relative;
      display: block;
      bottom: -4px;
      margin-left: -3px;
      font-size: 76px;
      transition: .2s;
      letter-spacing: -5px;
      line-height: 0.98;
    }
  }
  
  @media screen and (min-width: 1200px) {
    a.description-download {
      color: #D0021B;
      font-size: 44px;
      letter-spacing: -2px;
      text-decoration: none;
      display: block;
      width: 300px;
    }
    a.description-download:hover {
      position: relative;
      display: block;
      bottom: -5px;
      margin-left: -3px;
      font-size: 91px;
      transition: .2s;
      letter-spacing: -5px;
      line-height: 0.97;
    }
  }
  
  
  /* ICON */
  
  section.icon {
    border-bottom: 4px solid #EEE3C1;
  }
  
  @media screen and (max-width: 575px) {
    section.icon {
      padding-top: 10px;
      padding-bottom: 10px;
      height: 76vw;
    }
  }
  
  @media screen and (min-width: 576px) {
    section.icon {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  
  
  /* HOW TO TITLE */
  
  section.how-to-title {
    border-bottom: 4px solid #EEE3C1;
  }
  
  @media screen and (max-width: 575px) {
    section.how-to-title {
      padding-top: 10px;
      padding-bottom: 8px;
    }
  }
  
  @media screen and (min-width: 576px) {
    section.how-to-title {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  
  
  /* HOW TO */
  
  section.how-to {
    padding-top: 20px;
    border-bottom: 4px solid #EEE3C1;
  }
  
  section.how-to-one,
  section.how-to-two {
    padding-bottom: 20px;
  }
  
  section.how-to-three {
    padding-bottom: 0px;
    /* margin-bottom: 40px; */
  }
  
  a.number {
    text-decoration: none;
  }
  
  @media screen and (max-width: 575px) {
    a.number {
      display: block;
      margin-top: -6px;
      margin-left: -1px;
      margin-bottom: 18px;
      font-size: 108px;
      color: #D0021B;
      left: 0;
      top: 0;
    }
    a.number-one:hover {
      transform: scale(4.42, 4.42);
      transition: all 20s ease;
      width: 0px;
      position: relative;
      z-index: 0;
      top: 119px;
      left: -11px;
    }
    a.number-two:hover {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transition: all 20s ease;
    }
    a.number-three:hover {
      transform: scale(6, 1);
      transition: all 20s ease;
    }
    img.use-one,
    img.use-two {
      margin-top: 27px;
    }
    img.use-three {
      display: none;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    a.number {
      display: block;
      margin-top: -5px;
      margin-left: -3px;
      margin-bottom: 10px;
      font-size: 108px;
      color: #D0021B;
      left: 0;
      top: 0;
    }
    a.number-one:hover {
      transform: scale(4.42, 4.42);
      transition: all 20s ease;
      width: 0px;
      top: 117px;
      position: relative;
      z-index: 0;
      left: -10px;
    }
    a.number-two:hover {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transition: all 20s ease;
    }
    a.number-three:hover {
      transform: scale(8, 1);
      transition: all 20s ease;
    }
    img.use-three {
      display: none;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    a.number {
      display: block;
      margin-top: 0px;
      margin-left: -5px;
      margin-bottom: 10px;
      font-size: 132px;
      color: #D0021B;
      left: 0;
      top: 0;
    }
    a.number-one:hover {
      transform: scale(3.85, 3.85);
      transition: all 20s ease;
      width: 0px;
      top: 162px;
      position: relative;
      z-index: 0;
      left: -15px;
    }
    a.number-two:hover {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transition: all 20s ease;
    }
    a.number-three:hover {
      transform: scale(7, 1);
      transition: all 20s ease;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    a.number {
      display: block;
      margin-bottom: 5px;
      margin-top: -3px;
      margin-left: -5px;
      font-size: 182px;
      color: #D0021B;
      left: 0;
      top: 0;
    }
    a.number-one:hover {
      transform: scale(4.73, 4.73);
      transition: all 20s ease;
      width: 0px;
      top: 219px;
      position: relative;
      z-index: 0;
      left: -17px;
    }
    a.number-two:hover {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transition: all 20s ease;
    }
    a.number-three:hover {
      transform: scale(9, 1);
      transition: all 20s ease;
    }
  }
  
  @media screen and (min-width: 1200px) {
    a.number {
      display: block;
      margin-bottom: 20px;
      margin-left: -5px;
      font-size: 217px;
      color: #D0021B;
      left: 0;
      top: 0;
    }
    a.number-one:hover {
      transform: scale(4.87, 4.87);
      transition: all 20s ease;
      width: 0px;
      top: 264px;
      position: relative;
      z-index: 0;
      left: -21px;
    }
    a.number-two:hover {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transition: all 20s ease;
    }
    a.number-three:hover {
      transform: scale(9, 1);
      transition: all 20s ease;
    }
  }
  
  @media screen and (max-width: 575px) {
    div.recognizing-bad-habits {
      margin-top: 27px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    div.recognizing-bad-habits {
      margin-top: 22px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    div.recognizing-bad-habits {
      margin-top: 27px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    div.recognizing-bad-habits {
      margin-top: 37px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    div.recognizing-bad-habits {
      margin-top: 44px;
    }
  }
  
  dl.habits {
    padding: 0;
    margin: 0;
    border-top: 1px solid #efe4c1;
  }
  
  dl.habits:hover {
    background: #d1021b;
  }
  
  dt.habit,
  dd.spent-hours {
    display: inline-block;
    margin: 2px 0 4px 0;
    font-size: 22px;
    letter-spacing: -1px;
    text-decoration: none;
  }
  
  dd.spent-hours {
    float: right;
  }
  
  
  div.gif {
    position: relative;
  }
  
  video.gif {
    position: absolute;
  }
  
  @media screen and (max-width: 320px) {
    video.gif {
      top: 31.3vw;
      left: 6.6vw;
      width: 81.8vw;
    }
  }
  
  @media screen and (min-width: 321px) and (max-width: 360px) {
    video.gif {
      top: 30.2vw;
      left: 6.6vw;
      width: 82.3vw;
    }
  }
  
  @media screen and (min-width: 361px) and (max-width: 375px) {
    video.gif {
      top: 29.7vw;
      left: 6.5vw;
      width: 82.8vw;
    }
  }
  
  @media screen and (min-width: 376px) and (max-width: 414px) {
    video.gif {
      top: 29vw;
      left: 6.6vw;
      width: 83vw;
    }
  }
  
  @media screen and (min-width: 415px) and (max-width: 575px) {
    video.gif {
      top: 27.6vw;
      left: 6.6vw;
      width: 84vw;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    video.gif {
      top: 41px;
      left: 12px;
      width: 146px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    video.gif {
      top: 55px;
      left: 16px;
      width: 203px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    video.gif {
      top: 73px;
      left: 21px;
      width: 267px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    video.gif {
      top: 89px;
      left: 26px;
      width: 327px;
    }
  }
  
  
  /* AUTHORS */
  
  section.authors {
    padding-bottom: 20px;
    border-bottom: 4px solid #EEE3C1;
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    section.authors {
      padding-top: 117px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    section.authors {
      padding-top: 171px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    section.authors {
      padding-top: 226px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    section.authors {
      padding-top: 281px;
    }
  }
  
  a.author {
    display: block;
    z-index: 0;
    position: relative;
    text-decoration: none;
    color: #D0021B;
  }
  
  @media screen and (max-width: 575px) {
    a.author {
      margin-top: 20px;
      font-size: 27px;
      letter-spacing: -1px;
    }
    a.author:hover {
      color: #ff0000;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    a.author {
      font-size: 22px;
      letter-spacing: -1px;
      bottom: 0;
    }
    a.author:hover {
      transform: scale(1, 9);
      transition: all .2s ease;
      bottom: 64px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    a.author {
      font-size: 27px;
      letter-spacing: -1px;
      bottom: 0;
    }
    a.author:hover {
      transform: scale(1, 12.5);
      transition: all .2s ease;
      bottom: 109px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    a.author {
      font-size: 37px;
      letter-spacing: -2px;
      bottom: 0;
    }
    a.author:hover {
      transform: scale(1, 11);
      transition: all .2s ease;
      bottom: 135px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    a.author {
      font-size: 44px;
      letter-spacing: -2px;
      bottom: 0;
    }
    
  }
  
  
  /* FREE */
  
  section.free {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 4px solid #EEE3C1;
  }
  
  p.price {
    font-size: 22px;
    line-break: 22px;
    letter-spacing: -1px;
  }
  
  
  /* FOOTER */
  
  footer {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 0;
    position: relative;
    z-index: 1;
  }
  
  a.footer-download {
    display: block;
    text-decoration: none;
    color: #EEE3C1;
  }
  
  a.footer-download:hover {
    transition: 20s;
    color: #D0021B;
  }
  
  @media screen and (max-width: 575px) {
    a.footer-download {
      font-size: 27px;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    a.footer-download {
      font-size: 22px;
      letter-spacing: -1px;
    }
    a.footer-download:hover {
      letter-spacing: 9px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    a.footer-download {
      font-size: 27px;
      letter-spacing: -1px;
    }
    a.footer-download:hover {
      letter-spacing: 13px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    a.footer-download {
      font-size: 37px;
      letter-spacing: -2px;
    }
    a.footer-download:hover {
      letter-spacing: 16px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    a.footer-download {
      font-size: 44px;
      letter-spacing: -2px;
    }
    a.footer-download:hover {
      letter-spacing: 20px;
    }
  }
  
  a.rarr {
    float: right;
    transform: scale(1, 1);
    transition: all .2s ease;
  }
  
  a.rarr:hover {
    transform: scale(-1, 1);
    transition: all 1s ease;
  }
  
  @media screen and (max-width: 575px) {
    a.rarr {
      width: 33px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    a.rarr {
      width: 26px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    a.rarr {
      width: 33px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    a.rarr {
      width: 46px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    a.rarr {
      width: 54px;
    }
  }
  
  
  /* SUPPORT */
  
  @media screen and (max-width: 991px) {
    section.support {
      padding-top: 27px;
      padding-bottom: 27px;
    }
    section.support p {
      font-size: 40px;
      letter-spacing: -2px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    section.support {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    section.support p {
      font-size: 56px;
      letter-spacing: -3px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    section.support {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    section.support p {
      font-size: 88px;
      letter-spacing: -4px;
    }
  }
  
  a.mail-link {
    color: #D0021B;
    text-decoration: none;
  }
  
  a.mail-link:hover {
    color: red;
  }
  
  
  
  /* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
  /* .container {
    background-color: #111;
  } */
  /* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
  
  
  
  
  
  /* SECTION STAY HOME TITLE */
  
  section.stay-home-title {
    border-bottom: 4px solid #EEE3C1;
  }
  
  
  @media screen and (max-width: 575px) {
    .stay-home-title h1 {
      display: block;
      margin-top: 11px;
      margin-bottom: 100px;
      font-size: 23.4vw;
      line-height: .82;
      letter-spacing: -1px;
      -webkit-text-stroke: 1px #eee3c199;
      color: #0a0a0a;
    }
    span.fill {
      -webkit-text-stroke: 0;
      color: #EEE3C1;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .stay-home-title h1 {
      display: block;
      margin-top: 20px;
      margin-bottom: 200px;
      font-size: 60px;
      line-height: 1;
      letter-spacing: -2px;
      -webkit-text-stroke: 1px #eee3c199;
      color: #0a0a0a;
    }
    span.fill {
      -webkit-text-stroke: 0;
      color: #EEE3C1;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .stay-home-title h1 {
      display: block;
      margin-top: 20px;
      margin-bottom: 200px;
      font-size: 80px;
      line-height: 1;
      letter-spacing: -3px;
      -webkit-text-stroke: 1px #eee3c199;
      color: #0a0a0a;
    }
    span.fill {
      -webkit-text-stroke: 0;
      color: #EEE3C1;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .stay-home-title h1 {
      display: block;
      margin-top: 30px;
      margin-bottom: 200px;
      font-size: 106px;
      line-height: 1;
      letter-spacing: -4px;
      -webkit-text-stroke: 1px #eee3c199;
      color: #0a0a0a;
    }
    span.fill {
      -webkit-text-stroke: 0;
      color: #EEE3C1;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .stay-home-title h1 {
      display: block;
      margin-top: 40px;
      margin-bottom: 200px;
      font-size: 120px;
      line-height: 1;
      letter-spacing: -4px;
      -webkit-text-stroke: 1px #eee3c199;
      color: #0a0a0a;
    }
    span.fill {
      -webkit-text-stroke: 0;
      color: #EEE3C1;
    }
  }
  
  #flickering {
    animation: main-flicker 3s linear infinite;
  }
  
  #flikering {
    animation: seconary-flicker 2s linear infinite;
  }
  
  @keyframes main-flicker {
    0% {
      opacity:0.1;
    }
    2% {
      opacity:1;
    }
    8% {
      opacity:0.1;
    }
    9% {
      opacity:1;
    }
    12% {
      opacity:0.1;
    }
    20% {
      opacity:1;
    }
    25% {
      opacity:0.3;
    }
    30% {
      opacity:1;
    }
    70% {
      opacity:0.7;
    }
    72% {
      opacity:0.2;
    }
    77% {
      opacity:.9;
    }
    100% {
      opacity:.9;
    }
  }
  
  
  @keyframes seconary-flicker {
    0% {
      opacity:0.1;
    }
    2% {
      opacity:0.1;
    }
    4% {
      opacity:1;
    }
    
    19% {
      opacity:1;
    }
    21% {
      opacity:0.1;
    }
    23% {
      opacity:1;
    }
    
    80% {
      opacity:1;
    }
    83% {
      opacity:0.4;
    }
    87% {
      opacity:1;
    }
  }
  
  
  
  /* SECTION STAY HOME WE KNOW */
  
  section.stay-home-we-know {
    margin-top: 20px;
    border-bottom: 4px solid #EEE3C1;
  }
  
  @media screen and (max-width: 575px) {
    .stay-home-we-know p {
      margin-bottom: 20px;
      font-size: 27px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .stay-home-we-know p {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .stay-home-we-know p {
      margin-bottom: 20px;
      font-size: 27px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .stay-home-we-know p {
      margin-bottom: 20px;
      font-size: 37px;
      line-height: 1;
      letter-spacing: -2px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .stay-home-we-know p {
      margin-bottom: 20px;
      font-size: 44px;
      line-height: 1;
      letter-spacing: -2px;;
    }
  }
  
  
  /* STILL */
  
  
  @media screen and (max-width: 575px) {
    img.img-still {
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .no-pad-left {
      padding-left: 0px;
      padding-right: 8px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    img.img-still {
      margin-top: -72px;
      margin-bottom: -57px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    img.img-still {
      margin-top: -86px;
      margin-bottom: -73px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    img.img-still {
      margin-top: -109px;
      margin-bottom: -97px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    img.img-still {
      margin-top: -126px;
      margin-bottom: -116px;
    }
  }
  
  
  /* SECTION STAY HOME TITLE */
  
  .stay-home-tip a {
    color: #D0021B;
    text-decoration: none;
  }
  
  .stay-home-tip a:hover {
    color: #EEE3C1;
    text-decoration: none;
    transition: .2s;
    text-shadow: 0 0 10px #EEE3C1,
                 0 0 10px #D0021B,
                 0 0 20px #D0021B,
                 0 0 30px #D0021B,
                 0 0 40px #D0021B,
                 0 0 50px #D0021B,
                 0 0 60px #D0021B;
  }
  
  .stay-home-tip h2 {
    font-size: 92px;
    line-height: 1;
    margin: 20px 0 0 -3px;
    padding: 0;
  }
  
  .stay-home-tip h2.last {
    margin-bottom: 60px;
  }
  
  @media screen and (max-width: 575px) {
    .stay-home-tip h3 {
      margin-top: 15px;
      margin-bottom: 22px;
      font-size: 44px;
      line-height: 1;
      letter-spacing: -2px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .stay-home-tip h3 {
      margin-top: 15px;
      margin-bottom: 22px;
      font-size: 37px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .stay-home-tip h3 {
      margin-top: 18px;
      margin-bottom: 22px;
      font-size: 27px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .stay-home-tip h3 {
      margin-top: 15px;
      margin-bottom: 22px;
      font-size: 37px;
      line-height: 1;
      letter-spacing: -2px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .stay-home-tip h3 {
      margin-top: 15px;
      margin-bottom: 22px;
      font-size: 44px;
      line-height: 1;
      letter-spacing: -2px;;
    }
  }
  
  
  @media screen and (max-width: 575px) {
    .stay-home-tip p {
      margin-bottom: 22px;
      font-size: 27px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .stay-home-tip p {
      margin-bottom: 22px;
      font-size: 22px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .stay-home-tip p {
      margin-bottom: 22px;
      font-size: 18px;
      line-height: 1.25;
      letter-spacing: -.5px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .stay-home-tip p {
      margin-bottom: 22px;
      font-size: 18px;
      line-height: 1.25;
      letter-spacing: -.5px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .stay-home-tip p {
      margin-bottom: 22px;
      font-size: 22px;
      line-height: 1.25;
      letter-spacing: -.5px;
    }
  }
  
  
  .stay-home-tip img {
    margin-top: 9px;
    padding-bottom: 20px;
    border-bottom: 4px solid #EEE3C1; 
  }
  
  
  
  
  
  
  
  
  
  
  
  